<div class="container-fluid pt-3">
    <div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3>แก้ไขข้อมูล</h3>
        <div class="card">
            <img src="assets/images/noperson.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label class="form-label">รูปภาพใหม่</label>
                      <input type="file" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">ชื่อสกุล</label>
                        <input type="text" class="form-control" >
                      </div>
                    <div class="mb-3">
                        <label class="form-label">ที่อยู่</label>
                        <input type="text" class="form-control" >
                      </div>
                    <div class="mb-3">
                        <label class="form-label">โทรศัพท์</label>
                        <input type="text" class="form-control" >
                      </div>
                    <div class="mb-3">
                      <label class="form-label">รหัสผ่านเดิม</label>
                      <input type="text" class="form-control" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">รหัสผ่านใหม่</label>
                      <input type="password" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
    </div>
    <div class="col-sm-4"></div>
    </div>
</div>

