<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">สมัครใช้งาน</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onRegister()" [noValidate]="false">
            <div class="mb-3">
              <label class="form-label">ชื่อ-สกุล</label>
              <input type="text " class="form-control"
              name="name" [(ngModel)]="model.name">              
            </div>
            <div class="mb-3">
              <label class="form-label">ที่อยู่</label>
              <input type="text" class="form-control"
              name="address" [(ngModel)]="model.address">
            </div>
            <div class="mb-3">
              <label class="form-label">โทรศัพท์</label>
              <input type="text" class="form-control"
              name="telephone" [(ngModel)]="model.telephone" required>
            </div>
            <div class="mb-3">
              <label class="form-label">ชื่อผู้ใช้งาน</label>
              <input type="text" class="form-control"
              name="username" [(ngModel)]="model.username" required>
            </div>
            <div class="mb-3">
              <label class="form-label">รหัสผ่าน</label>
              <input type="password" class="form-control" 
              name="password" [(ngModel)]="model.password">
            </div>
            <div class="mb-3">
              <label class="form-label">รูปภาพ</label>
              <input type="file" class="form-control" 
              (change)="onFileSelect($event)">
            </div>
            
            <button type="submit" class="btn btn-primary">บันทึก</button>
          </form>
        </div>
  
      </div>
    </div>
  </div>
