 <!-- login Modal -->

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">เข้าระบบ</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label class="form-label">ชื่อผู้ใช้งาน</label>
                  <input type="text" class="form-control">
                  
                </div>
                <div class="mb-3">
                  <label class="form-label">รหัสผ่าน</label>
                  <input type="password" class="form-control" >
                </div>
                
                <button type="submit" class="btn btn-primary">เข้าระบบ</button>
              </form>
            </div>
      
          </div>
        </div>
      </div>
