    <!-- ส่วนของ NavBar -->

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #67078a;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="">ระบบยืมคืนอุปกรณ์
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link "  routerLink="">หน้าแรก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  routerLink="equip">รายการอุปกรณ์</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  routerLink="step">ขั้นตอนการยืมคืน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  routerLink="dev">ผู้พัฒนาระบบ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="#" data-bs-toggle="modal" data-bs-target="#registerModal">สมัครใช้งาน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="#" data-bs-toggle="modal" data-bs-target="#loginModal">เข้าระบบ</a>
              </li>
  
            </ul>
  
          </div>
        </div>
      </nav>
