<div class="container-fluid pt-3">
<div class="row">
    <div class="col-sm-4" *ngFor="let item of data">
        <div class="card" >
            <img src="http://localhost/borrowsystem_api/images/equip/{{item.picture}}"
             class="card-img-top" alt="..." height="200px" width="auto">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">คงเหลือ {{item.qty}} รายการ</p>
              <a class="btn btn-primary float-right"
              (click)="onBorrow(item)">ยืมอุปกรณ์</a>
            </div>
          </div>
    </div>

</div>
</div>
