<div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row mt-4">
            <div class="col-sm-6">
              <h2>ดูข้อมูลการยืมอุปกรณ์</h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>วันที่ยืม</th>
              <th>ชื่อผู้ยืม</th>
              <th>ภาพอุปกรณ์</th>
              <th>ชื่ออุปกรณ์</th>
              <th>จำนวน</th>
              <th>สถานการยืม</th>
              <th>สถานการคืน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>